{% extends "form.html" %}

{% block fields %}
<div class="card">
  <div class="text-center">
    <h4>{{ maker.first_name }} {{maker.last_name}}</h4>
    <h4>Waker{{ maker.role() }}</h4>
  </div>
</div>
  {% set num_trainings = maker.trainings|length %}
  {% if num_cols > 0 %}
  {% set diameter = 250/num_cols %}
  <div class="row">
  {% for col in range(num_cols) %}
    <div style="margin:5">
    <svg height={{ diameter }} width={{ diameter }}>
      <circle cx={{diameter/2}} cy={{diameter/2}} r={{diameter/2}} 
              {% if col < num_trainings %}
                fill="#{{maker.trainings[col].type.color.value}}"
              {% else %}
                fill="#000000" visibility="hidden"
              {% endif %}
      />
    </svg>
    </div>
  {% endfor %}
</div>
  {% endif %}
<div class="row">
  <div class="col">
    {% if maker.status() == "OUT" %}
      <input class="btn btn-success btn-block" name="submit" type="submit" value="Check-In">
    {% else %}
      <input class="btn btn-danger btn-block" name="submit" type="submit" value="Check-Out">
    {% endif %}
  </div>
</div>
<div class="row">
  <div class="col">
    <input class="btn btn-secondary btn-block" name="submit" type="submit" value="Add Training">
  </div>
  <div class="col">
    <a class="btn btn-info btn-block" href="/" type="button">Cancel</a>
  </div>
</div>
{% endblock fields %}
